
/build
/build-*

# vscode
/DEBUGGING_SETUP.md
/.vscode/c_cpp_properties.json

# doxygen
/docs/html
/Doxyfile.bak


# CANape artefacts
*.hex 
*.mf4
*.cnaxml
*.tmp

# Examples A2L files
/*.a2l
/*.bin
/c_demo.a2l
/cpp_demo.a2l
/hello_xcp.a2l
/struct_demo.a2l
/multi_thread_demo.a2l

# Temporary files
/conversions.a2l
/groups.a2l
/typedefs.a2l


/a2l_test.a2l
/DOCUMENTATION.md
/pi5
/pi5.pub
/setup_remote_pi.sh
/sync.sh
*.out
/REMOTE_DEVELOPMENT.md
src/xcpLite.c
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/xcpliteGetSeg/v16/.suo
.vs/xcpliteGetSeg/v16/Browse.VC.db
out/build/x64-Debug/.ninja_deps
out/build/x64-Debug/.ninja_log
out/build/x64-Debug/build.ninja
out/build/x64-Debug/cmake_install.cmake
out/build/x64-Debug/CMakeCache.txt
out/build/x64-Debug/compile_commands.json
out/build/x64-Debug/VSInheritEnvironments.txt
out/build/x64-Debug/.cmake/api/v1/reply/cmakeFiles-v1-2b6eaad7c8974d1a013e.json
out/build/x64-Debug/.cmake/api/v1/reply/cache-v2-5c539a752f645b734205.json
out/build/x64-Debug/.cmake/api/v1/query/client-MicrosoftVS/query.json
out/build/x64-Debug/.cmake/api/v1/reply/codemodel-v2-ee586229faa7627eb436.json
out/build/x64-Debug/.cmake/api/v1/reply/index-2025-09-15T17-21-38-0558.json
out/build/x64-Debug/.cmake/api/v1/reply/target-c_demo-Debug-6bceec0fe5b876a9a5e1.json
out/build/x64-Debug/.cmake/api/v1/reply/target-a2l_test-Debug-f564919400648ba6d529.json
out/build/x64-Debug/.cmake/api/v1/reply/target-cal_test-Debug-77fc59e22aa7e3e296f9.json
out/build/x64-Debug/.cmake/api/v1/reply/target-cpp_demo-Debug-5ca79c47d41f39cc9fc4.json
out/build/x64-Debug/.cmake/api/v1/reply/target-hello_xcp_cpp-Debug-24e6c60ea7f1c5426069.json
out/build/x64-Debug/.cmake/api/v1/reply/target-hello_xcp-Debug-8ed8a33b836a4085cc62.json
out/build/x64-Debug/.cmake/api/v1/reply/target-struct_demo-Debug-3c940aa534d7d3820538.json
out/build/x64-Debug/.cmake/api/v1/reply/target-multi_thread_demo-Debug-1ed4bb2cf1b3f850f960.json
out/build/x64-Debug/.cmake/api/v1/reply/target-type_detection_test_c-Debug-1bf5ab4fe9b83a948a61.json
out/build/x64-Debug/.cmake/api/v1/reply/target-type_detection_test_cpp-Debug-8a32d7bbebe1884b96e8.json
out/build/x64-Debug/.cmake/api/v1/reply/target-xcplib-Debug-4dd1052c83f2af25fba7.json
out/build/x64-Debug/CMakeFiles/cmake.check_cache
out/build/x64-Debug/CMakeFiles/CMakeOutput.log
out/build/x64-Debug/CMakeFiles/CMakeError.log
out/build/x64-Debug/CMakeFiles/TargetDirectories.txt
out/build/x64-Debug/CMakeFiles/rules.ninja
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CMakeCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CMakeCXXCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CMakeSystem.cmake
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CMakeDetermineCompilerABI_C.bin
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CMakeRCCompiler.cmake
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CMakeDetermineCompilerABI_CXX.bin
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CompilerIdC/CMakeCCompilerId.c
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CompilerIdC/CMakeCCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CompilerIdC/CMakeCCompilerId.obj
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.cpp
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.exe
out/build/x64-Debug/CMakeFiles/3.19.20122902-MSVC_2/CompilerIdCXX/CMakeCXXCompilerId.obj
out/build/x64-Debug/CMakeFiles/cal_test.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/cal_test.dir/test/cal_test/src/main.cpp.obj
out/build/x64-Debug/CMakeFiles/cpp_demo.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/cpp_demo.dir/examples/cpp_demo/src/main.cpp.obj
out/build/x64-Debug/CMakeFiles/cpp_demo.dir/examples/cpp_demo/src/sig_gen.cpp.obj
out/build/x64-Debug/CMakeFiles/hello_xcp.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/hello_xcp_cpp.dir/examples/hello_xcp_cpp/src/main.cpp.obj
out/build/x64-Debug/CMakeFiles/hello_xcp_cpp.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/multi_thread_demo.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/ShowIncludes/foo.h
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.c
out/build/x64-Debug/CMakeFiles/ShowIncludes/main.obj
out/build/x64-Debug/CMakeFiles/type_detection_test_c.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/type_detection_test_c.dir/test/type_detection_test/src/c_version_test.c.obj
out/build/x64-Debug/CMakeFiles/type_detection_test_c.dir/test/type_detection_test/src/main.c.obj
out/build/x64-Debug/CMakeFiles/type_detection_test_cpp.dir/vc140.pdb
out/build/x64-Debug/CMakeFiles/type_detection_test_cpp.dir/test/type_detection_test/src/cpp_version_test.cpp.obj
out/build/x64-Debug/CMakeFiles/type_detection_test_cpp.dir/test/type_detection_test/src/main.cpp.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/xcplib.pdb
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/a2l.c.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/persistency.c.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/platform.c.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/xcpAppl.c.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/xcpEthServer.c.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/xcpEthTl.c.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/xcpQueue32.c.obj
out/build/x64-Debug/CMakeFiles/xcplib.dir/src/xcpQueue64.c.obj
out/build/x64-Debug/Testing/Temporary/LastTest.log
